openapi: 3.0.1
info:
  title: Insezo partner API
  description: |
    API endpoints for Insezo partners. (customers,companies and technicians)

    # Url

    Base url production: https://rest.insezo.com

    Base url development: https://rest.insezodevelopment.com

    # Authentication

    Insezo currently offers one form of authentication:
      - API Key - You can find this when logged in on app.insezo.com in the menu under "company settings"

    Just add a Authorization header with value "Bearer {YOUR_KEY}"

    <SecurityDefinitions />
  version: "1.0.1"
  x-logo:
    url: "https://app.insezo.com/img/main_logo.png"
    altText: "Insezo"
    href: "https://www.insezo.com"
servers:
  - url: https://rest.insezo.com
    description: Production server (uses live data)
tags:
  - name: Tasks
    description: Everything about tasks
  - name: Products
    description: Everything about products
  - name: Parts
    description: Everything about parts
  - name: Relations
    description: Everything about relations
  - name: Returns
    description: Everything about return tasks
  - name: Fulfilment
    description: Everything about fulfilment
  - name: Registration - Complaints
    description: Everything about complaint registrations
  - name: Registration - Products
    description: Everything about product registrations
  - name: Bulk
    description: Bulk actions for resources
  - name: Me
    description: Information about company account
paths:
  /tasks/{taskNumber}:
    get:
      summary: Returns information about the task
      description: ""
      tags:
        - Tasks
      parameters:
        - name: taskNumber
          required: true
          in: path
          schema:
            type: string
        - in: query
          name: selection
          schema:
            type: string
          required: false
          description: >
            Sort order:
             * `id` - 
             * `orderType` - 
             * `status` - 
             * `salutation` - 
             * `firstName` - 
             * `insertion` - 
             * `lastName` - 
             * `country` - 
             * `zipcode` - 
             * `streetName` - 
             * `houseNumber` - 
             * `houseNumberAddition` - 
             * `city` - 
             * `phone` - 
             * `netcode` - 
             * `mobile` - 
             * `email` - 
             * `brand` - 
             * `productGroup` - 
             * `productNumber` - 
             * `brand` - 
             * `group` - 
             * `number` - 
             * `purchaseDate` - 
             * `warranty` - 
             * `complaint` - 
             * `serialNumber` - 
             * `purchasePlace` - 
             * `language` - 
             * `companyName` - 
             * `affiliateBrand` - 
             * `estMaintenanceCode` - 
             * `realMaintenanceCode` - 
             * `failureCode` - 
             * `dispatchCode` - 
             * `relation` - 
             * `relationName` -
             * `relationEmail` -
             * `repairAdvice` -
             * `repairCause` -
             * `reference` -
             * `contractor` -
             * `contractorAssigned` -
             * `technicianCompany` -
             * `confirmed` -
             * `visitPlanned` -
             * `customerVisited` -
             * `customerBilled` -
             * `payway` -
             * `technicianCompanyAssigned` -
             * `visitStart` -
             * `visitEnd` -
             * `repairComplete` -
             * `repairDuration` -
             * `reservedParts` -
             * `usedParts` -
             * `repairDuration` -
             * `created` -
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      orderType:
                        type: string
                      status:
                        type: string
                      lastName:
                        type: string
                      country:
                        type: string
                      purchaseDate:
                        type: string
                      city:
                        type: string
                      purchasePlace:
                        type: string
                      companyName:
                        type: string
                      houseNumber:
                        type: string
                      dispatchCode:
                        type: string
                      language:
                        type: string
                      estMaintenanceCode:
                        type: string
                      affiliateBrand:
                        type: string
                      relation:
                        type: string
                      repairAdvice:
                        type: string
                      reference:
                        type: array
                        items:
                          type: string
                      streetName:
                        type: string
                      netcode:
                        type: string
                      warranty:
                        type: integer
                      brand:
                        type: string
                      email:
                        type: string
                      serialNumber:
                        type: string
                      failureCode:
                        type: string
                      relationEmail:
                        type: string
                      mobile:
                        type: string
                      productNumber:
                        type: string
                      houseNumberAddition:
                        type: string
                      zipcode:
                        type: string
                      firstName:
                        type: string
                      realMaintenanceCode:
                        type: string
                      relationName:
                        type: string
                      repairCause:
                        type: string
                      phone:
                        type: string
                      productGroup:
                        type: string
                      complaint:
                        type: string
                      insertion:
                        type: string
                      salutation:
                        type: integer
              example:
                "result": {
                  "id": "inse21112019-7e9c60",
                  "orderType": service,
                  "status": task_cancel,
                  "salutation": 1,
                  "firstName": "I.",
                  "insertion": "",
                  "lastName": "insezo",
                  "country": "NL",
                  "zipcode": "3355pp",
                  "streetName": "Kattestaart",
                  "houseNumber": "10",
                  "houseNumberAddition": "",
                  "city": "Papendrecht",
                  "phone": "",
                  "netcode": "31",
                  "mobile": "612345678",
                  "email": "info@insezo.com",
                  "brand": "Insezo",
                  "productGroup": "Afzuigkap",
                  "productNumber": "AF101",
                  "purchaseDate": "2019-11-01",
                  "warranty": 2,
                  "complaint": "",
                  "serialNumber": "",
                  "purchasePlace": "",
                  "language": "NL",
                  "companyName": "",
                  "affiliateBrand": "",
                  "estMaintenanceCode": "",
                  "realMaintenanceCode": "",
                  "failureCode": "",
                  "dispatchCode": "",
                  "relation": "",
                  "relationName": "",
                  "relationEmail": "",
                  "repairAdvice": "",
                  "repairCause": "",
                  "reference": [
                    ""
                  ]
                }
        '400':
          description: Bad Request
    put:
      summary: Updates the task with the supplied data
      description: ""
      tags:
        - Tasks
      parameters:
        - name: taskNumber
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderType:
                  type: string
                  enum: [ service,building,installation,custom ]
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                  description: mr/mrs, mr, mrs, company
                language:
                  type: string
                firstName:
                  type: string
                  maxLength: 35
                insertion:
                  type: string
                  maxLength: 10
                lastName:
                  type: string
                  maxLength: 35
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                  maxLength: 20
                netcode:
                  type: string
                phone:
                  type: string
                  maxLength: 20
                productNumber:
                  type: string
                purchaseDate:
                  type: string
                  format: date
                complaint:
                  type: string
                  maxLength: 1500
                repairAdvice:
                  type: string
                  maxLength: 500
                relation:
                  type: string
                  format: search number
                warranty:
                  type: integer
                reference:
                  type: array
                  items:
                    type: string
                  maxLength: 60
                  maxItems: 4
            example:
              { "salutation": 2,"firstName": "roel","insertion": "","lastName": "aarnoudse","companyName": "Fulfilcenter B.V.","country": "nl","language": "nl","zipcode": "3355pp","houseNumber": "10","streetName": "Kattestaart","city": "papendrecht","phone": "0786154678","netcode": "31","mobile": "612345678","email": "info@insezo.com","productNumber": "AF101","purchaseDate": "1-1-2013","warranty": 3,"complaint": "accio","reference": [ "one","two" ] }
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  autofill:
                    type: object
                    properties:
                      productGroup:
                        type: string
                  status:
                    type: integer
              example:
                {
                  "status": 200,
                  "autofill": {
                    "productGroup": "Afzuigkap"
                  }
                }
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /tasks:
    get:
      summary: Returns many task records
      description: ""
      tags:
        - Tasks
      parameters:
        - in: query
          name: selection
          schema:
            type: string
          required: false
          description: "Comma split list of fields to return. Example: ?selection=id, orderType"
        - in: query
          name: start
          schema:
            type: string
          required: false
          description: "Token that tracks the next 50 records to return. When more than 50 records are left the result will hold a 'start' field which should be passed for the next 50 records"
        - in: query
          name: lastChanged
          schema:
            type: string
            format: date
          required: false
          description: "Date that tracks the last time the task was updated with new data. This is an easy way to only return tasks that have updated data from a certain date"
        - in: query
          name: year
          schema:
            type: string
            default: "Current year (2022)"
          required: false
          description: "Only returns records that are created in a certain year"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  start:
                    type: integer
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      orderType:
                        type: string
                      status:
                        type: string
                      lastName:
                        type: string
                      country:
                        type: string
                      purchaseDate:
                        type: string
                      city:
                        type: string
                      purchasePlace:
                        type: string
                      companyName:
                        type: string
                      houseNumber:
                        type: string
                      dispatchCode:
                        type: string
                      language:
                        type: string
                      estMaintenanceCode:
                        type: string
                      affiliateBrand:
                        type: string
                      relation:
                        type: string
                      repairAdvice:
                        type: string
                      reference:
                        type: array
                        items:
                          type: string
                      streetName:
                        type: string
                      netcode:
                        type: string
                      warranty:
                        type: integer
                      brand:
                        type: string
                      email:
                        type: string
                      serialNumber:
                        type: string
                      failureCode:
                        type: string
                      relationEmail:
                        type: string
                      mobile:
                        type: string
                      productNumber:
                        type: string
                      houseNumberAddition:
                        type: string
                      zipcode:
                        type: string
                      firstName:
                        type: string
                      realMaintenanceCode:
                        type: string
                      relationName:
                        type: string
                      repairCause:
                        type: string
                      phone:
                        type: string
                      productGroup:
                        type: string
                      complaint:
                        type: string
                      insertion:
                        type: string
                      salutation:
                        type: integer
              example:
                "count": 50
                "start": 14343
                "result": {
                  "id": "inse21112019-7e9c60",
                  "orderType": service,
                  "status": task_cancel,
                  "salutation": 1,
                  "firstName": "I.",
                  "insertion": "",
                  "lastName": "insezo",
                  "country": "NL",
                  "zipcode": "3355pp",
                  "streetName": "Kattestaart",
                  "houseNumber": "10",
                  "houseNumberAddition": "",
                  "city": "Papendrecht",
                  "phone": "",
                  "netcode": "31",
                  "mobile": "612345678",
                  "email": "info@insezo.com",
                  "brand": "Insezo",
                  "productGroup": "Afzuigkap",
                  "productNumber": "AF101",
                  "purchaseDate": "2019-11-01",
                  "warranty": 2,
                  "complaint": "",
                  "serialNumber": "",
                  "purchasePlace": "",
                  "language": "NL",
                  "companyName": "",
                  "affiliateBrand": "",
                  "estMaintenanceCode": "",
                  "realMaintenanceCode": "",
                  "failureCode": "",
                  "dispatchCode": "",
                  "relation": "",
                  "relationName": "",
                  "relationEmail": "",
                  "repairAdvice": "",
                  "repairCause": "",
                  "reference": [
                    ""
                  ]
                }
        '400':
          description: Bad Request
    post:
      summary: Creates a new task with predefined product data
      description: ""
      tags:
        - Tasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderType:
                  type: string
                  enum: [ service,building,installation,custom ]
                  default: service
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                  description: mr/mrs, mr, mrs, company
                language:
                  type: string
                firstName:
                  type: string
                  maxLength: 35
                insertion:
                  type: string
                  maxLength: 10
                lastName:
                  type: string
                  maxLength: 35
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                  maxLength: 20
                netcode:
                  type: string
                phone:
                  type: string
                  maxLength: 20
                contractor:
                  type: integer
                  description: consult "/me/servicepartners" endpoint for allowed contractors
                brand:
                  type: integer
                affiliateBrand:
                  type: string
                  description: consult "/me/affiliatebrands" endpoint for affiliated brands
                productGroup:
                  type: string
                productNumber:
                  type: string
                purchaseDate:
                  type: string
                  format: date
                complaint:
                  type: string
                  maxLength: 1500
                repairAdvice:
                  type: string
                  maxLength: 500
                warranty:
                  type: integer
                relation:
                  type: string
                  format: search number
                reference:
                  type: array
                  items:
                    type: string
                  maxLength: 60
                  maxItems: 4
              required:
                - salutation
                - country
                - zipcode
                - streetName
                - houseNumber
                - city
            example:
              { "salutation": 2,"firstName": "roel","insertion": "","lastName": "aarnoudse","companyName": "Insezo B.V.","country": "nl","language": "nl","zipcode": "3355pp","houseNumber": "10","streetName": "Kattestaart","city": "papendrecht","phone": "0786154678","netcode": "31","mobile": "612345678","email": "info@insezo.com","productNumber": "AF101","purchaseDate": "1-1-2013","warranty": 3,"complaint": "accio","reference": [ "one","two" ] }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectUrl:
                    type: string
                  id:
                    type: string
                  autofill:
                    type: object
                    properties:
                      productGroup:
                        type: string
                      brand:
                        type: number
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "inse21112019-d5e617",
                  "redirectUrl": "https:\/\/app.insezo.com\/tasks\/overview?p=inse21112019-d5e617",
                  "autofill": {
                    "brand": "Insezo",
                    "productGroup": "Afzuigkap"
                  }
                }
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /tasks/free:
    post:
      summary: Creates a new task with free field data
      description: "Only usable for Insezo technician accounts"
      tags:
        - Tasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderType:
                  type: string
                  enum: [ service,building,custom,installation,basic ]
                  default: service
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                  description: mr/mrs, mr, mrs, company
                language:
                  type: string
                firstName:
                  type: string
                  maxLength: 35
                insertion:
                  type: string
                  maxLength: 10
                lastName:
                  type: string
                  maxLength: 35
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                  maxLength: 20
                netcode:
                  type: string
                phone:
                  type: string
                  maxLength: 20
                brand:
                  type: string
                  maxLength: 40
                group:
                  type: string
                  maxLength: 40
                number:
                  type: string
                  maxLength: 40
                purchaseDate:
                  type: string
                  format: date
                complaint:
                  type: string
                  maxLength: 1500
                repairAdvice:
                  type: string
                  maxLength: 500
                warranty:
                  type: integer
                relation:
                  type: string
                  format: search number
                reference:
                  type: array
                  items:
                    type: string
                  maxLength: 60
                  maxItems: 4
              required:
                - salutation
                - country
                - zipcode
                - streetName
                - houseNumber
                - city
            example:
              { "salutation": 2,"firstName": "roel","insertion": "","lastName": "aarnoudse","companyName": "Insezo B.V.","country": "nl","language": "nl","zipcode": "3355pp","houseNumber": "10","streetName": "Kattestaart","city": "papendrecht","phone": "0786154678","netcode": "31","mobile": "612345678","email": "info@insezo.com","brand": "Insezo","number": "AF101","purchaseDate": "1-1-2013","warranty": 3,"complaint": "accio","reference": [ "one","two" ] }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectUrl:
                    type: string
                  id:
                    type: string
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "inse21112019-d5e617",
                  "redirectUrl": "https:\/\/app.insezo.com\/tasks\/overview?p=inse21112019-d5e617",
                }
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /tasks/{taskNumber}/phase:
    put:
      summary: Set a new task phase
      description: "Task cannot be finished when assigning a new interim phase"
      tags:
        - Tasks
      parameters:
        - name: taskNumber
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phase:
                  type: string
                  enum: [ wait_for_customer,wait_for_parts,wait_for_producer,wait_for_external_partner,wait_for_payment,payment_accepted ]
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /tasks/{taskNumber}/document:
    post:
      summary: Uploads a document to the task
      description: ""
      tags:
        - Tasks
      parameters:
        - name: taskNumber
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /tasks/{taskNumber}/technician/company:
    post:
      summary: Link a technician
      description: ""
      tags:
        - Tasks
      parameters:
        - name: taskNumber
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: id of technician company
                communication:
                  type: boolean
                  description: Send communication to customer
                keepAppointment:
                  type: boolean
                  description: If a appointment already has been made keep the data
              required:
                - identifier
            example:
              { "identifier": "0123456789","communication": true,"keepAppointment": false }
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /tasks/{taskNumber}/appointment:
    post:
      summary: Creates an appointment for visit
      description: ""
      tags:
        - Tasks
      parameters:
        - name: taskNumber
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                startDate:
                  type: string
                  description: format 01-01-2021
                startTime:
                  type: string
                  description: format 09:00
                endTime:
                  type: string
                  description: format 17:00
                communication:
                  type: boolean
                  description: Send communication to customer
              required:
                - startDate
                - startTime
                - endTime
            example:
              { "startDate": "07-12-2021","startTime": "10:00","endTime": "12:00","communication": true }
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /tasks/{taskNumber}/finish:
    post:
      summary: Finishes the task
      description: ""
      tags:
        - Tasks
      parameters:
        - name: taskNumber
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [ repair_complete,task_cancel,complete_no_parts,send_part_fix ]
              required:
                - status
            example:
              { "status": "repair_complete" }
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /products:
    get:
      summary: Returns all products
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            maximum: 1000
            default: 1000
          required: false
          description: The number of items to return
        - in: query
          name: page
          schema:
            type: integer
          required: false
          description: Page with the amount of returned item
      description: ""
      tags:
        - Products
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  products:
                    properties:
                      productId:
                        type: integer
                      companyId:
                        type: integer
                      productNumber:
                        type: string
                      productGroup:
                        type: string
                      productDescription:
                        type: string
              example:
                {
                  "result": {
                    "count": 2,
                    "products": [
                      {
                        "productId": 10000350,
                        "companyId": 7378787652899,
                        "productNumber": "18/15",
                        "productGroup": "afzuigkap",
                        "productDescription": "Twist wandschouw"
                      },
                      {
                        "productId": 10000351,
                        "companyId": 7378787652899,
                        "productNumber": "16/15",
                        "productGroup": "afzuigkap",
                        "productDescription": "Salsa wandschouw"
                      }
                    ]
                  }
                }
    post:
      summary: Creates a new product with the supplied data
      description: ""
      tags:
        - Products
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                productNumber:
                  type: string
                productDescription:
                  type: string
                productDescriptionExtra:
                  type: string
                productGroup:
                  type: string
                  required: true
                productNumberExtra:
                  type: string
                productManufacturer:
                  type: string
                productManufacturerNumber:
                  type: string
                productBrand:
                  type: string
                eanCode:
                  type: string
                remark:
                  type: string
              required:
                - productNumber
                - productDescription
                - productGroup
            example:
              { "productNumber": "1010/5","productDescription": "wandschouw","productGroup": "afzuigkap" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "50001",
                }
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /products/{productId}:
    get:
      summary: Returns product information by id
      description: ""
      tags:
        - Products
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  productId:
                    type: integer
                  companyId:
                    type: integer
                  productNumber:
                    type: string
                  productGroup:
                    type: string
                  productDescription:
                    type: string
              example:
                {
                  "result": {
                    "productId": 10000350,
                    "companyId": 7378787652899,
                    "productNumber": "18/15",
                    "productGroup": "afzuigkap",
                    "productDescription": "Twist wandschouw"
                  }
                }
  /products/{productId}/parts:
    get:
      summary: Returns linked parts
      description: ""
      tags:
        - Products
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    partId:
                      type: integer
                    partNumber:
                      type: string
                    partDescription:
                      type: string
              example:
                {
                  "result": [
                    {
                      "partId": 000123,
                      "partNumber": "123",
                      "partDescription": "Twist wandschouw"
                    },
                    {
                      "partId": 000124,
                      "partNumber": "124",
                      "partDescription": "motor"
                    }
                  ]
                }
    put:
      summary: Update the product with the supplied data
      description: ""
      tags:
        - Products
      parameters:
        - name: productId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                productDescription:
                  type: string
                productDescriptionExtra:
                  type: string
                productGroup:
                  type: string
                  required: true
                productNumberExtra:
                  type: string
                productManufacturer:
                  type: string
                productManufacturerNumber:
                  type: string
                productBrand:
                  type: string
                  description: call /me/affiliatebrands endpoint for brands (use id)
                eanCode:
                  type: string
                remark:
                  type: string
            example:
              { "productDescription": "wandschouw","productGroup": "afzuigkap" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "50001",
                }
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
    delete:
      summary: Deletes the product
      description: ""
      tags:
        - Products
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
  /parts:
    post:
      summary: Creates a new part with the supplied data
      description: ""
      tags:
        - Parts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                partNumber:
                  type: string
                partNumberExtra:
                  type: string
                partDescription:
                  type: string
                purchasePrice:
                  type: number
                  format: currency
                salePrice:
                  type: number
                  format: currency
                costPrice:
                  type: number
                  format: currency
                eanCode:
                  type: string
              required:
                - partNumber
                - partDescription
            example:
              { "partNumber": "1010/5","partDescription": "wandschouw" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "50001",
                }
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
    get:
      summary: Returns all parts
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            maximum: 1000
            default: 1000
          required: false
          description: The number of items to return
        - in: query
          name: page
          schema:
            type: integer
          required: false
          description: Page with the amount of returned items
      description: ""
      tags:
        - Parts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  parts:
                    properties:
                      partId:
                        type: integer
                      companyId:
                        type: integer
                      partNumber:
                        type: string
                      partNumberExtra:
                        type: string
                      partDescription:
                        type: string
                      purchasePrice:
                        type: number
                      salePrice:
                        type: number
                      effectivePriceDate:
                        type: string
              example:
                {
                  "result": {
                    "count": 2,
                    "parts": [
                      {
                        "partId": 32017869,
                        "companyId": 7378787652899,
                        "partNumber": "09534000",
                        "partNumberExtra": "",
                        "partDescription": "Seitenstein hinten",
                        "purchasePrice": 10.00,
                        "salePrice": 20.00,
                        "effectivePriceDate": ""
                      },
                      {
                        "partId": 20017870,
                        "companyId": 7378787652899,
                        "partNumber": "09534100",
                        "partNumberExtra": "",
                        "partDescription": "Seitenstein vorne",
                        "purchasePrice": 15.00,
                        "salePrice": 30.00,
                        "effectivePriceDate": "14-06-2022"
                      }
                    ]
                  }
                }
  /parts/{partId}:
    get:
      summary: Returns parts information by id
      description: ""
      tags:
        - Parts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  partId:
                    type: integer
                  companyId:
                    type: integer
                  partNumber:
                    type: string
                  partNumberExtra:
                    type: string
                  partDescription:
                    type: string
                  purchasePrice:
                    type: number
                  salePrice:
                    type: number
                  effectivePriceDate:
                    type: string
              example:
                {
                  "result": {
                    "partId": 32017869,
                    "companyId": 7378787652899,
                    "partNumber": "09534000",
                    "partNumberExtra": "",
                    "partDescription": "Seitenstein hinten",
                    "purchasePrice": 30.00,
                    "salePrice": 60.00,
                    "effectivePriceDate": "14-06-2022"
                  }
                }
    put:
      summary: Update the part with the supplied data
      description: ""
      tags:
        - Parts
      parameters:
        - name: partId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                partNumberExtra:
                  type: string
                partDescription:
                  type: string
                purchasePrice:
                  type: number
                  format: currency
                salePrice:
                  type: number
                  format: currency
                costPrice:
                  type: number
                  format: currency
                eanCode:
                  type: string
            example:
              { "partDescription": "wandschouw","salePrice": 23.20 }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "50001",
                }
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
    delete:
      summary: Deletes the part
      description: ""
      tags:
        - Parts
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
  /parts/{partId}/prices:
    post:
      summary: Inserts a new price with an effective from date
      description: "When the effectivePriceDate is equal or lower than today's date the prices are immediately updated."
      tags:
        - Parts
      parameters:
        - name: partId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                purchasePrice:
                  type: number
                  format: currency
                salePrice:
                  type: number
                  format: currency
                costPrice:
                  type: number
                  format: currency
                effectivePriceDate:
                  type: string
                  format: date
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /relations:
    get:
      summary: Returns all relations
      parameters:
        - in: query
          name: start
          schema:
            type: integer
          required: false
          description: Start from this number and return the next 50 items
        - in: query
          name: search
          schema:
            type: string
          required: false
          description: Search parameter that looks for searchName or number
      description: ""
      tags:
        - Relations
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  result:
                    type: array
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      number:
                        type: string
                      searchName:
                        type: string
                      country:
                        type: string
                      zipcode:
                        type: string
                      streetName:
                        type: string
                      houseNumber:
                        type: string
                      city:
                        type: string
                      phone:
                        type: string
                      email:
                        type: string
                      language:
                        type: string
              example:
                {
                  "result": [
                    {
                      "id": 1,
                      "name": "'t Huys voor Insezo",
                      "number": "123",
                      "searchName": "insezo",
                      "country": "nl",
                      "zipcode": "3355pp",
                      "streetName": "Kattestaart",
                      "houseNumber": "10",
                      "city": "Papendrecht",
                    },
                    {
                      "id": 2,
                      "name": "123 Insezo",
                      "number": "124",
                      "searchName": "insez1",
                      "country": "nl",
                      "zipcode": "3355pp",
                      "streetName": "Kattestaart",
                      "houseNumber": "10",
                      "city": "Papendrecht",
                    }
                  ]
                }
    post:
      summary: Creates a new relation with the supplied data
      description: ""
      tags:
        - Relations
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                number:
                  type: string
                language:
                  type: string
                  description: The 2 digit country code (nl, fr)
                country:
                  type: string
                  description: The 2 digit country code (NL, FR)
                zipcode:
                  type: string
                houseNumber:
                  type: string
                streetName:
                  type: string
                city:
                  type: string
                phone:
                  type: string
                email:
                  type: string
                remark:
                  type: string
              required:
                - name
                - number
            example:
              { "name": "Insezo","number": "911" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
              example:
                {
                  "status": 201,
                }
        '400':
          description: Bad Request
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
  /relations/{relationId}:
    get:
      summary: Returns relation from id
      description: ""
      tags:
        - Relations
      parameters:
        - name: relationId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  searchName:
                    type: string
                  city:
                    type: string
                  name:
                    type: string
              example:
                {
                  "result":
                    {
                      "id": 1,
                      "name": "'t Huys voor Insezo",
                      "number": "123",
                      "searchName": "insezo",
                      "country": "nl",
                      "zipcode": "3355pp",
                      "streetName": "Kattestaart",
                      "houseNumber": "10",
                      "city": "Papendrecht",
                    }
                }
    put:
      summary: Updates the relation with the supplied data
      description: ""
      tags:
        - Relations
      parameters:
        - name: relationId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                number:
                  type: string
                language:
                  type: string
                  description: The 2 digit country code (nl, fr)
                country:
                  type: string
                  description: The 2 digit country code (NL, FR)
                zipcode:
                  type: string
                houseNumber:
                  type: string
                streetName:
                  type: string
                city:
                  type: string
                phone:
                  type: string
                email:
                  type: string
                remark:
                  type: string
                block:
                  type: boolean
            example:
              { "zipcode": "3355pp","email": "info@insezo.com" }
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /returns:
    post:
      summary: Creates a new return task with the supplied data
      description: ""
      tags:
        - Returns
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                returnType:
                  type: string
                  enum: [ sda,mda,sdar,mdar,sdad,mdad ]
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                  description: mr/mrs, mr, mrs, company
                firstName:
                  type: string
                  maxLength: 35
                insertion:
                  type: string
                  maxLength: 10
                lastName:
                  type: string
                  maxLength: 35
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                  maxLength: 20
                netcode:
                  type: string
                phone:
                  type: string
                  maxLength: 20
                productGroup:
                  type: string
                productNumber:
                  type: string
                serialNumber:
                  type: string
                  maxLength: 40
                purchaseDate:
                  type: string
                  format: date
                complaint:
                  type: string
                  maxLength: 500
                repairAdvice:
                  type: string
                  maxLength: 500
                purchasePlace:
                  type: string
                  maxLength: 40
                warranty:
                  type: integer
                reference:
                  type: array
                  items:
                    type: string
                  maxLength: 60
                  maxItems: 4
                affiliateBrand:
                  type: string
                  maxLength: 20
              required:
                - salutation
                - country
                - zipcode
                - streetName
                - houseNumber
                - city
            example:
              { "salutation": 2,"firstName": "roel","insertion": "","lastName": "aarnoudse","companyName": "Insezo B.V.","country": "nl","language": "nl","zipcode": "3355pp","houseNumber": "10","streetName": "Kattestaart","city": "papendrecht","phone": "0786154678","netcode": "31","mobile": "612345678","email": "info@insezo.com","productNumber": "AF101","purchaseDate": "1-1-2013","warranty": 3,"complaint": "accio","reference": [ "one","two" ] }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectUrl:
                    type: string
                  id:
                    type: string
                  autofill:
                    type: object
                    properties:
                      productGroup:
                        type: string
                      brand:
                        type: number
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "rsinse21112019-5ff1a5",
                  "redirectUrl": "https:\/\/app.insezo.com\/rda\/overview?p=rsinse21112019-5ff1a5",
                  "autofill": {
                    "brand": "Insezo",
                    "productGroup": "Afzuigkap"
                  }
                }
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /fulfilment:
    post:
      summary: Creates a new fulfilment task with the supplied data
      description: ""
      tags:
        - Fulfilment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                  description: mr/mrs, mr, mrs, company
                firstName:
                  type: string
                  maxLength: 35
                insertion:
                  type: string
                  maxLength: 10
                lastName:
                  type: string
                  maxLength: 35
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                netcode:
                  type: string
                phone:
                  type: string
                productGroup:
                  type: string
                productNumber:
                  type: string
                purchaseDate:
                  type: string
                  format: date
                purchasePlace:
                  type: string
                  maxLength: 40
                language:
                  type: string
                remark:
                  type: string
                  maxLength: 500
                reference:
                  type: array
                  items:
                    type: string
                  maxLength: 60
                  maxItems: 4
                affiliateBrand:
                  type: string
                  maxLength: 20
              required:
                - salutation
                - country
                - zipcode
                - streetName
                - houseNumber
                - city
            example:
              { "salutation": 2,"firstName": "roel","insertion": "","lastName": "aarnoudse","companyName": "Insezo B.V.","country": "nl","language": "nl","zipcode": "3355pp","houseNumber": "10","streetName": "Kattestaart","city": "papendrecht","phone": "0786154678","netcode": "31","mobile": "612345678","email": "info@insezo.com","productNumber": "AF101","purchaseDate": "1-1-2013","remark": "Box is damaged","reference": [ "one","two" ] }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectUrl:
                    type: string
                  id:
                    type: string
                  autofill:
                    type: object
                    properties:
                      productGroup:
                        type: string
                      brand:
                        type: number
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "rsinse21112019-5ff1a5",
                  "redirectUrl": "https:\/\/app.insezo.com\/fulfilment\/overview?p=finse21112019-5ff1a5",
                  "autofill": {
                    "brand": "Insezo",
                    "productGroup": "Afzuigkap"
                  }
                }
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity
  /registrations/complaints/{complaintId}:
    get:
      summary: Returns information about the complaint
      description: ""
      tags:
        - Registration - Complaints
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      lastName:
                        type: string
                      country:
                        type: string
                      purchaseDate:
                        type: string
                      city:
                        type: string
                      purchasePlace:
                        type: string
                      companyName:
                        type: string
                      houseNumber:
                        type: string
                      language:
                        type: string
                      affiliateBrand:
                        type: string
                      streetName:
                        type: string
                      netcode:
                        type: string
                      brand:
                        type: string
                      email:
                        type: string
                      serialNumber:
                        type: string
                      mobile:
                        type: string
                      number:
                        type: string
                      houseNumberAddition:
                        type: string
                      zipcode:
                        type: string
                      firstName:
                        type: string
                      phone:
                        type: string
                      group:
                        type: string
                      complaint:
                        type: string
                      remark:
                        type: string
                      insertion:
                        type: string
                      salutation:
                        type: integer
              example:
                {
                  "result": {
                    "id": "cinse21112019-gxx123",
                    "status": task_cancel,
                    "salutation": 1,
                    "firstName": "I.",
                    "insertion": "",
                    "lastName": "insezo",
                    "country": "NL",
                    "zipcode": "3355pp",
                    "streetName": "Kattestaart",
                    "houseNumber": "10",
                    "houseNumberAddition": "",
                    "city": "Papendrecht",
                    "phone": "",
                    "netcode": "31",
                    "mobile": "612345678",
                    "email": "info@insezo.com",
                    "brand": "Insezo",
                    "group": "Afzuigkap",
                    "number": "AF101",
                    "purchaseDate": "2019-11-01",
                    "complaint": "",
                    "purchasePlace": "",
                    "language": "NL",
                    "companyName": "",
                    "affiliateBrand": "",
                  }
                }
        '400':
          description: Bad Request
  /registrations/complaints:
    post:
      summary: Creates a new complaint registration with the supplied data
      description: ""
      tags:
        - Registration - Complaints
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                  description: mr/mrs, mr, mrs, company
                firstName:
                  type: string
                  maxLength: 35
                insertion:
                  type: string
                  maxLength: 10
                lastName:
                  type: string
                  maxLength: 35
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                  maxLength: 20
                netcode:
                  type: string
                phone:
                  type: string
                  maxLength: 20
                brand:
                  type: string
                  description: call /me api for partnersbrand ID's
                group:
                  type: string
                number:
                  type: string
                purchaseDate:
                  type: string
                  format: date
                purchasePlace:
                  type: string
                  maxLength: 40
                remark:
                  type: string
                  maxLength: 500
                complaint:
                  type: string
                  maxLength: 1500
                language:
                  type: string
                affiliateBrand:
                  type: string
                  maxLength: 20
              required:
                - salutation
                - country
                - zipcode
                - brand
                - streetName
                - houseNumber
                - city
            example:
              { "salutation": 2,"firstName": "roel","insertion": "","lastName": "aarnoudse","companyName": "Insezo B.V.","country": "nl","language": "nl","zipcode": "3355pp","houseNumber": "10","streetName": "Kattestaart","city": "papendrecht","phone": "0786154678","netcode": "31","mobile": "612345678","email": "info@insezo.com","number": "AF101","remark": "Box is damaged" }
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectUrl:
                    type: string
                  id:
                    type: string
                  autofill:
                    type: object
                    properties:
                      productGroup:
                        type: string
                      brand:
                        type: number
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "cinse21112019-5ff1a5",
                  "redirectUrl": "https:\/\/app.insezo.com\/complaints\/modify?p=finse21112019-5ff1a5",
                  "autofill": {
                    "brand": "Insezo",
                  }
                }
  /registrations/products/{resourceId}:
    get:
      summary: Returns information about the product registration
      description: ""
      tags:
        - Registration - Products
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      customerName:
                        type: string
                      country:
                        type: string
                      zipcode:
                        type: string
                      streetName:
                        type: string
                      houseNumber:
                        type: string
                      houseNumberAddition:
                        type: string
                      city:
                        type: string
                      phone:
                        type: string
                      netcode:
                        type: string
                      mobile:
                        type: string
                      email:
                        type: string
                      brand:
                        type: string
                      productGroup:
                        type: string
                      productNumber:
                        type: string
                      purchaseDate:
                        type: string
                      warranty:
                        type: string
                      serialNumber:
                        type: string
                      purchasePlace:
                        type: string
                      language:
                        type: string
                      companyName:
                        type: string
                      affiliateBrand:
                        type: string
                      permission:
                        type: boolean
              example:
                {
                  "result": {
                    "id": "rinse042023-79aa9b",
                    "customerName": "Roel aarnoudse",
                    "country": "NL",
                    "zipcode": "3355pp",
                    "streetName": "Kattestaart",
                    "houseNumber": "10",
                    "houseNumberAddition": "",
                    "city": "Papendrecht",
                    "phone": "",
                    "netcode": "31",
                    "mobile": "",
                    "email": "",
                    "brand": "Novy BE",
                    "productGroup": "Kookplaat",
                    "productNumber": "1003",
                    "purchaseDate": "01-01-2022",
                    "warranty": 42,
                    "serialNumber": "123456",
                    "purchasePlace": "",
                    "language": "",
                    "companyName": "",
                    "affiliateBrand": 0,
                    "permission": 0
                  }
                }
        '400':
          description: Bad Request
  /registrations/products:
    post:
      summary: Creates a new product registration with the supplied data
      description: ""
      tags:
        - Registration - Products
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                  description: mr/mrs, mr, mrs, company
                customerName:
                  type: string
                  maxLength: 60
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                  maxLength: 20
                netcode:
                  type: string
                phone:
                  type: string
                  maxLength: 20
                brand:
                  type: string
                  description: call /me api for partnersbrand ID's
                number:
                  type: string
                purchaseDate:
                  type: string
                  format: date
                purchasePlace:
                  type: string
                  maxLength: 40
                language:
                  type: string
                permission:
                  type: boolean
                affiliateBrand:
                  type: string
                  maxLength: 20
              required:
                - salutation
                - country
                - zipcode
                - brand
                - streetName
                - houseNumber
                - city
            example:
              { "salutation": 2,"firstName": "roel","insertion": "","lastName": "aarnoudse","companyName": "Insezo B.V.","country": "nl","language": "nl","zipcode": "3355pp","houseNumber": "10","streetName": "Kattestaart","city": "papendrecht","phone": "0786154678","netcode": "31","mobile": "612345678","email": "info@insezo.com","number": "AF101","remark": "Box is damaged" }
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectUrl:
                    type: string
                  id:
                    type: string
                  autofill:
                    type: object
                    properties:
                      productGroup:
                        type: string
                      brand:
                        type: number
                  status:
                    type: integer
              example:
                {
                  "status": 201,
                  "id": "cinse21112019-5ff1a5",
                  "redirectUrl": "https:\/\/app.insezo.com\/complaints\/modify?p=finse21112019-5ff1a5",
                  "autofill": {
                    "brand": "Insezo",
                  }
                }
  /bulk/tasks:
    post:
      summary: Bulk insert for task resources
      description: "Max 100 resources at a time"
      tags:
        - Bulk
      parameters:
        - name: skipDuplicate
          in: query
          schema:
            type: string
            enum: [ "address" ]
          description: Skips duplicates based on parameter (already existing address)
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  orderType:
                    type: string
                    enum: [ service,building,installation,custom ]
                    default: service
                  salutation:
                    type: integer
                    minimum: 1
                    maximum: 4
                    description: mr/mrs, mr, mrs, company
                  language:
                    type: string
                  firstName:
                    type: string
                    maxLength: 35
                  insertion:
                    type: string
                    maxLength: 10
                  lastName:
                    type: string
                    maxLength: 35
                  companyName:
                    type: string
                    maxLength: 60
                  country:
                    type: string
                    minimum: 2
                    maximum: 2
                  city:
                    type: string
                    maxLength: 40
                  zipcode:
                    type: string
                    maxLength: 10
                  streetName:
                    type: string
                    maxLength: 60
                  houseNumber:
                    type: string
                    maxLength: 10
                  email:
                    type: string
                    maxLength: 60
                  mobile:
                    type: string
                    maxLength: 20
                  netcode:
                    type: string
                  phone:
                    type: string
                    maxLength: 20
                  contractor:
                    type: integer
                    description: consult "/me/servicepartners" endpoint for allowed contractors
                  brand:
                    type: integer
                  productGroup:
                    type: string
                  productNumber:
                    type: string
                  purchaseDate:
                    type: string
                    format: date
                  complaint:
                    type: string
                    maxLength: 1500
                  repairAdvice:
                    type: string
                    maxLength: 500
                  warranty:
                    type: integer
                  relation:
                    type: string
                    format: search number
                  reference:
                    type: array
                    items:
                      type: string
                    maxLength: 60
                    maxItems: 4
                required:
                  - salutation
                  - country
                  - zipcode
                  - streetName
                  - houseNumber
                  - city
              example:
                [ { "salutation": 2,"firstName": "roel","insertion": "","lastName": "aarnoudse","companyName": "Insezo B.V.","country": "nl","language": "nl","zipcode": "3355pp","houseNumber": "10","streetName": "Kattestaart","city": "papendrecht","phone": "0786154678","netcode": "31","mobile": "612345678","email": "info@insezo.com","productNumber": "AF101","purchaseDate": "1-1-2013","warranty": 3,"complaint": "accio","reference": [ "one","two" ] },{ "salutation": 2,"firstName": "roel","insertion": "","lastName": "aarnoudse","companyName": "Insezo B.V.","country": "nl","language": "nl","zipcode": "3355pp","houseNumber": "10","streetName": "Kattestaart","city": "papendrecht","phone": "0786154678","netcode": "31","mobile": "612345678","email": "info@insezo.com","productNumber": "AF101","purchaseDate": "1-1-2013","warranty": 3,"complaint": "accio","reference": [ "one","two" ] } ]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    redirectUrl:
                      type: string
                    id:
                      type: string
                    autofill:
                      type: object
                      properties:
                        productGroup:
                          type: string
                        brand:
                          type: number
                    status:
                      type: integer
              example:
                {
                  "status": 200,
                  "result": [
                    {
                      "status": 422,
                      "error": {
                        "message": [
                          "Missing parameters: city"
                        ]
                      },
                    },
                    {
                      "status": 201,
                      "id": "inse21112019-d5e617",
                      "redirectUrl": "https:\/\/app.insezo.com\/tasks\/overview?p=inse21112019-d5e617",
                      "autofill": {
                        "brand": "Insezo",
                        "productGroup": "Afzuigkap"
                      }
                    }
                  ]
                }
  /me/partners/service:
    get:
      summary: Returns all service partners that are affiliated with a production company
      description: ""
      tags:
        - Me
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
              example:
                {
                  "result": [
                    { "id": 1000000000003,
                      "name": "Insezo Service"
                    },
                    { "id": 1000000000004,
                      "name": "Insezo Service You"
                    }
                  ]
                }
  /me/partners/brands:
    get:
      summary: Returns all brands that are affiliated with a service company
      description: ""
      tags:
        - Me
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
              example:
                {
                  "result": [
                    { "id": 1000000000001,
                      "name": "Insezo Dishwashers"
                    },
                    { "id": 1000000000002,
                      "name": "Insezo Ovens"
                    }
                  ]
                }
  /me/partners/technicians:
    get:
      summary: Returns all technician companies that are affiliated
      description: ""
      tags:
        - Me
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
              example:
                {
                  "result": [
                    { "id": 1000000000001,
                      "name": "Insezo technician"
                    },
                    { "id": 1000000000002,
                      "name": "Jan Modaal monteur"
                    }
                  ]
                }
  /me/affiliatebrands:
    get:
      summary: Returns all affiliate brand for production companies
      description: ""
      tags:
        - Me
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
              example:
                {
                  "result": [
                    { "id": 23,
                      "name": "Inseza"
                    },
                    { "id": 14,
                      "name": "Inseba"
                    }
                  ]
                }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: KEY
