openapi: 3.0.1
info:
  title: Insezo partner API
  description: |
    API endpoints for Insezo partners. (customers,companies and technicians)

      Current endpoints
      - Tasks
      - Retour
      - Me


      Future endpoints
      - Return (RDA)
      - Stock
      - Parts
      - Products

    # Authentication

    Insezo currently offers one form of authentication:
      - API Key - You can find this when logged in on app.insezo.com in the menu under "company settings"

    Just add a Authorization header with value "Bearer {{YOUR_KEY}}"

    <SecurityDefinitions />
  version: "1.0.1"
  x-logo:
    url: "https://www.insezo.com/wp-content/uploads/2017/03/Insezo-logo-website.png"
    altText: "Insezo"
    href: "https://www.insezo.com"
servers:
  - url: 'https://rest.insezo.com'
tags:
  - name: Tasks
    description: Everything about tasks
  - name: Returns
    description: Everything about return tasks
  - name: Me
    description: Information about company account
paths:
  /tasks/{taskNumber}:
    get:
      summary: Returns information about the task
      description: ""
      tags:
        - Tasks
      parameters:
        - name: taskNumber
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      orderType:
                        type: string
                      lastName:
                        type: string
                      country:
                        type: string
                      purchaseDate:
                        type: string
                      city:
                        type: string
                      purchasePlace:
                        type: string
                      companyName:
                        type: string
                      houseNumber:
                        type: string
                      dispatchCode:
                        type: string
                      language:
                        type: string
                      estMaintenanceCode:
                        type: string
                      affiliateBrand:
                        type: string
                      relation:
                        type: string
                      repairAdvice:
                        type: string
                      reference:
                        type: array
                        items:
                          type: string
                      streetName:
                        type: string
                      netcode:
                        type: string
                      warranty:
                        type: integer
                      id:
                        type: string
                      brand:
                        type: string
                      email:
                        type: string
                      serialNumber:
                        type: string
                      failureCode:
                        type: string
                      relationEmail:
                        type: string
                      mobile:
                        type: string
                      productNumber:
                        type: string
                      houseNumberAddition:
                        type: string
                      zipcode:
                        type: string
                      firstName:
                        type: string
                      realMaintenanceCode:
                        type: string
                      relationName:
                        type: string
                      repairCause:
                        type: string
                      phone:
                        type: string
                      productGroup:
                        type: string
                      complaint:
                        type: string
                      insertion:
                        type: string
                      salutation:
                        type: integer
              example:
                value:
                  {
                    "result": {
                      "id": "inse21112019-7e9c60",
                      "orderType": service,
                      "salutation": 1,
                      "firstName": "I.",
                      "insertion": "",
                      "lastName": "insezo",
                      "country": "NL",
                      "zipcode": "3355pp",
                      "streetName": "Kattestaart",
                      "houseNumber": "10",
                      "houseNumberAddition": "",
                      "city": "Papendrecht",
                      "phone": "",
                      "netcode": "31",
                      "mobile": "612345678",
                      "email": "info@insezo.com",
                      "brand": "Insezo",
                      "productGroup": "Afzuigkap",
                      "productNumber": "AF101",
                      "purchaseDate": "2019-11-01",
                      "warranty": 2,
                      "complaint": "",
                      "serialNumber": "",
                      "purchasePlace": "",
                      "language": "NL",
                      "companyName": "",
                      "affiliateBrand": "",
                      "estMaintenanceCode": "",
                      "realMaintenanceCode": "",
                      "failureCode": "",
                      "dispatchCode": "",
                      "relation": "",
                      "relationName": "",
                      "relationEmail": "",
                      "repairAdvice": "",
                      "repairCause": "",
                      "reference": [
                        ""
                      ]
                    }
                  }
        '400':
          description: Bad request
    put:
      summary: Updates the task with the supplied data
      description: ""
      tags:
        - Tasks
      parameters:
        - name: taskNumber
          required: true
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderType:
                  type: string
                  enum: [service,building,custom]
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                language:
                  type: string
                firstName:
                  type: string
                  maxLength: 35
                insertion:
                  type: string
                  maxLength: 10
                lastName:
                  type: string
                  maxLength: 35
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                netcode:
                  type: string
                phone:
                  type: string
                productNumber:
                  type: string
                purchaseDate:
                  type: string
                  format: date
                complaint:
                  type: string
                  maxLength: 1500
                warranty:
                  type: integer
                reference:
                  type: array
                  items:
                    type: string
            example:
              value: {"salutation": 2,"firstName": "roel","insertion":"","lastName":"aarnoudse","companyName":"Fulfilcenter B.V.","country":"nl","language":"nl","zipcode":"3355pp","houseNumber":"10","streetName":"Kattestaart","city":"papendrecht","phone":"0786154678","netcode":"31","mobile":"612345678","email":"info@insezo.com","productNumber":"AF101","purchaseDate":"1-1-2013","warranty":3,"complaint":"accio","reference":["one","two"]}
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  autofill:
                    type: object
                    properties:
                      productGroup:
                        type: string
                  status:
                    type: integer
              example:
                value:
                  {
                    "status": 200,
                    "autofill": {
                      "productGroup": "Afzuigkap"
                    }
                  }
        '400':
          description: Bad request
        '422':
          description: Unprocessable Entity
  /tasks:
    post:
      summary: Creates a new task with the supplied data
      description: ""
      tags:
        - Tasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderType:
                  type: string
                  enum: [service,building,custom]
                  default: service
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                language:
                  type: string
                firstName:
                  type: string
                  maxLength: 35
                insertion:
                  type: string
                  maxLength: 10
                lastName:
                  type: string
                  maxLength: 35
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                netcode:
                  type: string
                phone:
                  type: string
                productGroup:
                  type: string
                productNumber:
                  type: string
                purchaseDate:
                  type: string
                  format: date
                complaint:
                  type: string
                  maxLength: 1500
                warranty:
                  type: integer
                reference:
                  type: array
                  items:
                    type: string
              required:
                - salutation
                - country
                - zipcode
                - streetName
                - houseNumber
                - city
            example:
              value: {"salutation": 2,"firstName": "roel","insertion":"","lastName":"aarnoudse","companyName":"Insezo B.V.","country":"nl","language":"nl","zipcode":"3355pp","houseNumber":"10","streetName":"Kattestaart","city":"papendrecht","phone":"0786154678","netcode":"31","mobile":"612345678","email":"info@insezo.com","productNumber":"AF101","purchaseDate":"1-1-2013","warranty":3,"complaint":"accio","reference":["one","two"]}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectUrl:
                    type: string
                  id:
                    type: string
                  autofill:
                    type: object
                    properties:
                      productGroup:
                        type: string
                      brand:
                        type: number
                  status:
                    type: integer
              example:
                value:
                  {
                    "status": 201,
                    "id": "inse21112019-d5e617",
                    "redirectUrl": "https:\/\/app.insezo.com\/tasks\/overview?p=inse21112019-d5e617",
                    "autofill": {
                      "brand": "Insezo",
                      "productGroup": "Afzuigkap"
                    }
                  }
        '400':
          description: Bad request
        '422':
          description: Unprocessable Entity
  /returns:
    post:
      summary: Creates a new return task with the supplied data
      description: ""
      tags:
        - Returns
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                returnType:
                  type: string
                  enum: [sda,mda,sdar,mdar,sdad,mdad]
                salutation:
                  type: integer
                  minimum: 1
                  maximum: 4
                firstName:
                  type: string
                  maxLength: 35
                insertion:
                  type: string
                  maxLength: 10
                lastName:
                  type: string
                  maxLength: 35
                companyName:
                  type: string
                  maxLength: 60
                country:
                  type: string
                  minimum: 2
                  maximum: 2
                city:
                  type: string
                  maxLength: 40
                zipcode:
                  type: string
                  maxLength: 10
                streetName:
                  type: string
                  maxLength: 60
                houseNumber:
                  type: string
                  maxLength: 10
                email:
                  type: string
                  maxLength: 60
                mobile:
                  type: string
                netcode:
                  type: string
                phone:
                  type: string
                productGroup:
                  type: string
                productNumber:
                  type: string
                serialNumber:
                  type: string
                  maxLength: 40
                purchaseDate:
                  type: string
                  format: date
                complaint:
                  type: string
                  maxLength: 500
                repairAdvice:
                  type: string
                  maxLength: 500
                purchasePlace:
                  type: string
                  maxLength: 40
                warranty:
                  type: integer
                reference:
                  type: array
                  items:
                    type: string
                affiliateBrand:
                  type: string
                  maxLength: 20
              required:
                - salutation
                - country
                - zipcode
                - streetName
                - houseNumber
                - city
            example:
              value: {"salutation": 2,"firstName": "roel","insertion":"","lastName":"aarnoudse","companyName":"Insezo B.V.","country":"nl","language":"nl","zipcode":"3355pp","houseNumber":"10","streetName":"Kattestaart","city":"papendrecht","phone":"0786154678","netcode":"31","mobile":"612345678","email":"info@insezo.com","productNumber":"AF101","purchaseDate":"1-1-2013","warranty":3,"complaint":"accio","reference":["one","two"]}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirectUrl:
                    type: string
                  id:
                    type: string
                  autofill:
                    type: object
                    properties:
                      productGroup:
                        type: string
                      brand:
                        type: number
                  status:
                    type: integer
              example:
                value:
                  {
                    "status": 201,
                    "id": "rsinse21112019-5ff1a5",
                    "redirectUrl": "https:\/\/app.insezo.com\/rda\/overview?p=rsinse21112019-5ff1a5",
                    "autofill": {
                      "brand": "Insezo",
                      "productGroup": "Afzuigkap"
                    }
                  }
        '400':
          description: Bad request
        '422':
          description: Unprocessable Entity
  /me/servicepartners:
    get:
      summary: Returns all service partners that are affiliated with a production company
      description: ""
      tags:
        - Me
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
              example:
                value:
                  {
                    "result": [
                    {"id":1000000000003,
                     "name": "Insezo Service"
                    },
                    {"id":1000000000004,
                     "name": "Insezo Service You"
                    }
                    ]
                  }
  /me/partnerbrands:
    get:
      summary: Returns all brands that are affiliated with a service company
      description: ""
      tags:
        - Me
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
              example:
                value:
                  {
                    "result": [
                    {"id":1000000000001,
                     "name": "Insezo Dishwashers"
                    },
                    {"id":1000000000002,
                     "name": "Insezo Ovens"
                    }
                    ]
                  }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: KEY